Mulai dari 0 ya kak/All in one_one user.ipynb
Mulai dari 0 ya kak/filter1_malas_des.csv
Mulai dari 0 ya kak/filter1_malas_jan.csv
Mulai dari 0 ya kak/filter2_malas_nov.csv
Mulai dari 0 ya kak/filter2_malas_des.csv
